<mat-toolbar class="app-navbar" color="primary">
  <nav class="navbar-header">
    <button routerLink="/" mat-button>
      GDG Porto Alegre
    </button>
  </nav>

  <nav class="navbar">
    <button routerLink="/" mat-button>
      Início
    </button>

    <button routerLink="/quem-somos" mat-button>
      Quem somos
    </button>

    <button routerLink="/agenda" mat-button>
      Agenda
    </button>

    <button routerLink="/contato" mat-button>
      Contato
    </button>
  </nav>
</mat-toolbar>

<a routerLink="/test">Test</a>
<a routerLink="/test-login">Login</a>
<!--<a routerLink="/lazy/nested">Lazy_Nested</a>-->
<router-outlet></router-outlet>
